In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import re

pd.options.display.max_columns = None

**Pair Programming Limpieza II**

Antes de seguir, recordamos las preguntas que nos planteamos al principio del _pair programming_** de EDA para dirigir nuestro an√°lisis.**:

- ¬øEs Australia es el sitio m√°s peligroso y letal para estar relajada en la playa?

- ¬øCu√°l es el rango de edad que sufre la mayor√≠a de los ataques?

- Independientemente de la edad, sufren los hombres m√°s ataques que las mujeres?

- ¬øEn qu√© mes ocurren m√°s ataques?

- ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?

- ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?

De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex.

Por lo tanto, en este ejercicio nos queda por limpiar las columnas de age y species, as√≠ que manos a la obra.

Vamos a ver que podemos hacer para cada una de las columnas y os dejaremos algunas pistas üòâ. Para esto trabajaremos con el fichero generado en Limpieza I.

1. Columna de species:

Si exploramos esta columna en detalle nos podemos dar cuenta que tenemos muchos valores √∫nicos y esto hace que sea muy dif√≠cil trabajar con esta columna.

Lo que vamos a hacer es clasificar los tiburones en 5 especies diferentes, las m√°s comunes, que incluyen el tibur√≥n blanco (White), el tibur√≥n tigre (Tiger ), el tibur√≥n gris (Grey), el tibur√≥n lim√≥n (Lemon) y el tibur√≥n toro (Bull). El resto de las especies las incluiremos en un √∫nico grupo que podremos llamar "Unspecified". Ahora nos podemos sentir un poco abrumadas y no saber como enfrentarnos a este reto, pero don't worry, os dejamos por aqu√≠ unas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo.

Los valores de las columnas son strings por lo que podremos usar regex para buscar palabras clave en cada celda y asignarlo a una de las categor√≠as que hemos definido previamente.

Imaginemos que el valor de una celda es el siguiente:
‚Äã
'White shark, 3.5 m'
‚Äã
Tendremos que buscar el patr√≥n de regex que nos permita extraer White shark de ese string y que nos devuelva solo White shark. 
Un patr√≥n que podriamos usar es: 
‚Äã
patron_blanco = r".*[Ww](hite|HITE).*" (esto podr√≠a ser as√≠ porque puede estar en may√∫sculas o en min√∫sculas.)
‚Äã
De la misma forma que hemos sacado el patron para el tibur√≥n blanco, tendremos que sacar los patrones para las otras 4 especies que queremos "encontrar".

Tendremos que crearnos una funci√≥n que aplicaremos sobre nuestra columna species para que nos devuelva una nueva columna con los valores clasificados en funci√≥n de los patrones de regex que hayamos definido.

In [4]:
df = pd.read_csv("df_interesantes.csv", index_col = 0)
df.head()

   YEAR    COUNTRY SEX_ AGE          SPECIES_ fecha FATALIDAD
0  2018        usa    F  57       White shark   NaN         N
1  2018     brazil    M  18       Tiger shark   NaN         N
2  2018        usa    M  15    Bull shark, 6'   NaN         N
3  2018  australia    M  32   Grey reef shark   NaN         N
4  2018    england    M  21  Invalid incident   NaN         N

In [5]:
patron_white = r".*[Ww](hite|HITE).*"
patron_tiger = r".*[Tt](iger|IGER).*"
patron_grey = r".*[Gg](rey|REY).*"
patron_lemon = r".*[Ll](emon|EMON).*"
patron_bull = r".*[Bb](ull|ULL).*"

In [6]:
def especies(col):
        patron_white = re.findall (".*[Ww](hite|HITE).*", str(col))
        patron_tiger = re.findall (".*[Tt](iger|IGER).*", str(col))
        patron_grey = re.findall (".*[Gg](rey|REY).*", str(col))
        patron_lemon = re.findall (".*[Ll](emon|EMON).*", str(col))
        patron_bull = re.findall (".*[Bb](ull|ULL).*", str(col))

        if len(patron_white) > 0:
            return "white"
        elif len(patron_tiger) > 0:
            return "Tiger"
        elif len(patron_grey) > 0:
            return "Grey"
        elif len (patron_lemon) > 0:
            return "Lemon"
        elif len (patron_bull) > 0:
            return "Bull"
        else:
            return "Desconocido"

In [7]:
df ["nueva_especie"] = (df["SPECIES_"].apply(especies))
df

,YEAR,COUNTRY,SEX_,AGE,SPECIES_,fecha,FATALIDAD,nueva_especie
0,2018,usa,F,57,White shark,NaN,N,white
1,2018,brazil,M,18,Tiger shark,NaN,N,Tiger
2,2018,usa,M,15,"Bull shark, 6'",NaN,N,Bull
3,2018,australia,M,32,Grey reef shark,NaN,N,Grey
4,2018,england,M,21,Invalid incident,NaN,N,Desconocido
...,...,...,...,...,...,...,...,...
1649,0,south africa,NaN,NaN,NaN,NaN,N,Desconocido
1657,0,fiji,NaN,NaN,NaN,NaN,Y,Desconocido
1661,0,asia?,NaN,NaN,NaN,NaN,N,Desconocido
1670,0,panama,NaN,NaN,NaN,NaN,Y,Desconocido
1671,0,ceylon (sri lanka),NaN,15,NaN,NaN,Y,Desconocido


2. Columna de age: es una columna de tipo string pero deber√≠a ser de tipo integer. Adem√°s, en esta columna nos vamos a encontrar con algunos errores tipogr√°ficos, estos incluyen:

- Edad en formato string.

- Edades separadas por &, or, to, >

- Edades con ?


Vamos con algunas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo:

- Primero tendremos que eliminar todos esos s√≠mbolos especiales que nos aparecen. De nuevo, podremos usar regex para extraer unicamente los n√∫meros que es lo que nos interesa. Usar este regex en una funci√≥n para sacar solo los n√∫meros.

Puede que os salga un error similar a este:

TypeError: expected string or bytes-like object

Para solucionar este problema, antes de nada tendr√©is que ejecutar este c√≥digo para que no os de error:

df['nombre_columna'] = df['nombre_columna'].astype(str)

Una vez que hay√°is extraido los n√∫meros, os dar√©is cuenta que hay celdas que tienen m√°s de una edad. Tendr√©is que decidir que hacer en esos casos. Os dejamos por aqu√≠ una posible opci√≥n usando un m√©todo de Pandas que os puede resultar super √∫til. El m√©todo explode, aqui.

- Por √∫ltimo cambiad el tipo de la columna de string a integer.

In [8]:
df

,YEAR,COUNTRY,SEX_,AGE,SPECIES_,fecha,FATALIDAD,nueva_especie
0,2018,usa,F,57,White shark,NaN,N,white
1,2018,brazil,M,18,Tiger shark,NaN,N,Tiger
2,2018,usa,M,15,"Bull shark, 6'",NaN,N,Bull
3,2018,australia,M,32,Grey reef shark,NaN,N,Grey
4,2018,england,M,21,Invalid incident,NaN,N,Desconocido
...,...,...,...,...,...,...,...,...
1649,0,south africa,NaN,NaN,NaN,NaN,N,Desconocido
1657,0,fiji,NaN,NaN,NaN,NaN,Y,Desconocido
1661,0,asia?,NaN,NaN,NaN,NaN,N,Desconocido
1670,0,panama,NaN,NaN,NaN,NaN,Y,Desconocido
1671,0,ceylon (sri lanka),NaN,15,NaN,NaN,Y,Desconocido

In [9]:
patron_numeros = r".*([0-9]+).*"

In [10]:
df['AGE'] = df['AGE'].astype(object)

In [11]:
def numeros (col):
    patron_numeros = re.findall (r".*([0-9]+).*", str(col))

    if len(patron_numeros) > 0:
        return str(patron_numeros [0])

In [12]:
df["edad_limpia"] = df["AGE"].apply(numeros)

In [19]:
df

,YEAR,COUNTRY,SEX_,AGE,SPECIES_,fecha,FATALIDAD,nueva_especie,edad_limpia
1133,1976,usa,M,29,"White shark, 5.5 m [18']",NaN,N,white,9
917,1993,spain,M,69,1.2 m [4'] shark,NaN,N,Desconocido,9
1468,1931,australia,M,39,Shark involvement prior to death unconfirmed,NaN,N,Desconocido,9
541,2005,usa,M,30,White shark,NaN,N,white,0
1345,1960,australia,M,13,Bull shark,NaN,N,Bull,3
...,...,...,...,...,...,...,...,...,...
1185,1969,usa,M,13,4' shark,NaN,N,Desconocido,3
1457,1936,australia,M,14,White shark,NaN,N,white,4
992,1989,australia,M,30,Grey nurse shark,NaN,N,Grey,0
426,2008,brazil,M,14,Bull shark,NaN,N,Bull,4
1472,1929,australia,M,19,"Grey nurse shark, 4'",NaN,N,Grey,9

In [24]:
edades_divididas = df.explode("edad_limpia", ignore_index=False)
edades_divididas.sample(50)

,YEAR,COUNTRY,SEX_,AGE,SPECIES_,fecha,FATALIDAD,nueva_especie,edad_limpia
358,2010,australia,M,18,"White shark, 2.5m",NaN,N,white,8
674,2002,turks & caicos,F,41,1.8 m to 2.1 m [6' to 7']¬† Caribbean Reef Shark,NaN,N,Desconocido,1
1257,1963,south africa,F,20,"Zambesi shark, 1.8 m [6']",NaN,N,Desconocido,0
567,2005,usa,M,25,Shark involvement not confirmed,NaN,N,Desconocido,5
454,2007,usa,M,22,3' to 4' shark,NaN,N,Desconocido,2
1245,1964,mexico,M,19,1.8 to 2.4 m [6' to 8'] shark,NaN,N,Desconocido,9
828,1998,mozambique,F,35,3 m [10'] shark,NaN,N,Desconocido,5
387,2009,usa,M,31,2' to 3' shark,NaN,N,Desconocido,1
1545,77,NaN,NaN,NaN,NaN,NaN,Y,Desconocido,None
1307,1961,australia,M,23,"Grey nurse shark, 2.4 m [8']",NaN,N,Grey,3
1473,1929,australia,M,39,Galapagos shark,NaN,N,Desconocido,9
1298,1962,south africa,M,40,Shark involvement prior to death was not confi...,NaN,N,Desconocido,0
402,2009,australia,M,31,"White shark, 3.5m",NaN,N,white,1
109,2015,usa,M,15,4' shark,NaN,N,Desconocido,5
1435,1942,south africa,M,18,"White shark, 4.5 m to 6 m [14'9"" to 20'] acco...",NaN,N,white,8
1142,1975,south africa,M,33,Juvenile dusky shark,NaN,N,Desconocido,3
56,2016,usa,F,51,"Tiger shark, 10'",NaN,N,Tiger,1
959,1991,australia,M,19,4 m [13'] white shark,NaN,N,white,9
976,1990,usa,M,19,1.8 m to 2.4 m [6' to 8'] shark,NaN,N,Desconocido,9
1078,1983,usa,M,21,6' shark,NaN,N,Desconocido,1
1348,1959,australia,M,19,3 m to 4.3 m [10' to 14'] shark,NaN,N,Desconocido,9
1487,1922,australia,M,19,"2.7 m [9'] ""blue"" shark",NaN,N,Desconocido,9
1432,1943,panama,M,20,"White shark, 2 m [6'9""] (Tooth fragment recov...",NaN,N,white,0
649,2003,usa,M,33,"""sand shark""",NaN,N,Desconocido,3
140,2015,reunion,M,13,Bull shark,NaN,N,Bull,3
1160,1974,south africa,M,22,"Raggedtooth shark, 1.5 m [5']",NaN,N,Desconocido,2
430,2008,mexico,M,24,Tiger shark,NaN,N,Tiger,4
933,1992,usa,M,30,"Tiger shark, 3 m to 4.9 m [10' to 16']",NaN,N,Tiger,0
895,1995,south africa,M,14,"Tiger shark, 1.8 m [6']",NaN,N,Tiger,4
985,1989,south africa,M,29,White shark,NaN,N,white,9
1363,1959,south africa,M,18,"White shark, 1.8 m to 2.1 m [6' to 7'] accord...",NaN,N,white,8
449,2007,usa,M,42,5' shark,NaN,N,Desconocido,2
515,2006,usa,M,14,_,NaN,N,Desconocido,4
1380,1957,south africa,M,23,>3 m [10'] shark,NaN,N,Desconocido,3
452,2007,australia,F,52,"White shark, 2.5m",NaN,N,white,2
1643,0,burma,NaN,NaN,NaN,NaN,Y,Desconocido,None
552,2005,usa,M,36,White shark,NaN,N,white,6
1145,1975,usa,M,44,White shark,NaN,N,white,4
1227,1966,south africa,M,16,1.5 m to 1.8 m [5' to 6'] Zambesi shark,NaN,N,Desconocido,6
544,2005,usa,M,23,4' shark,NaN,N,Desconocido,3
1144,1975,usa,M,20,1.5 m [5'] shark,NaN,N,Desconocido,0
880,1995,usa,M,18,"""a small shark""",NaN,N,Desconocido,8
1040,1986,australia,M,29,"Bronze whaler shark, 3.5 m",NaN,N,Desconocido,9
48,2016,usa,M,19,Shark involvement not confirmed,NaN,N,Desconocido,9
418,2008,australia,M,31,8' white shark or 7-gill shark,NaN,N,white,1
1246,1964,usa,M,18,Invalid,NaN,N,Desconocido,8
1276,1963,fiji,M,28,"White shark, 2.1 m [7']",NaN,N,white,8
1094,1982,usa,M,20,5' shark,NaN,N,Desconocido,0
1328,1961,australia,M,27,"Wobbegong shark, 1.5 m [5']",NaN,N,Desconocido,7
278,2012,australia,M,20,Possibly a bull shark,NaN,N,Bull,0

In [25]:
edades_divididas.dtypes

YEAR              int64
COUNTRY          object
SEX_             object
AGE              object
SPECIES_         object
fecha            object
FATALIDAD        object
nueva_especie    object
edad_limpia      object
dtype: object

In [38]:
edades_divididas["edad_limpia"]= pd.to_numeric (edades_divididas["edad_limpia"])
edades_divididas

,YEAR,COUNTRY,SEX_,AGE,SPECIES_,fecha,FATALIDAD,nueva_especie,edad_limpia
0,2018,usa,F,57,White shark,NaN,N,white,7.0
1,2018,brazil,M,18,Tiger shark,NaN,N,Tiger,8.0
2,2018,usa,M,15,"Bull shark, 6'",NaN,N,Bull,5.0
3,2018,australia,M,32,Grey reef shark,NaN,N,Grey,2.0
4,2018,england,M,21,Invalid incident,NaN,N,Desconocido,1.0
...,...,...,...,...,...,...,...,...,...
1649,0,south africa,NaN,NaN,NaN,NaN,N,Desconocido,NaN
1657,0,fiji,NaN,NaN,NaN,NaN,Y,Desconocido,NaN
1661,0,asia?,NaN,NaN,NaN,NaN,N,Desconocido,NaN
1670,0,panama,NaN,NaN,NaN,NaN,Y,Desconocido,NaN
1671,0,ceylon (sri lanka),NaN,15,NaN,NaN,Y,Desconocido,5.0

3. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio.

In [39]:
# pasamos al siguiente pair con las edades en float por recomendacion de los profesores.
edades_divididas.to_csv("limpieza_dos.csv")