**Pair Programming ETL Transformación I**

In [94]:
from IPython.core.interactiveshell import InteractiveShell # Nos permite mostar más de una salida por celda
InteractiveShell.ast_node_interactivity = "all" # Nos permite mostar más de una salida por celda

import requests
import pandas as pd
import numpy as np

In [95]:
clima=pd.read_csv('df_ETL1.csv', index_col=0)

In [96]:
df_attacks= pd.read_csv ('df_attacks_limpieza_completa.csv', index_col=0)

Tendréis que usar el csv attacks_limpieza_completa que tenéis adjunto abajo.

En la lección de hoy aprendimos como transformar nuestros datos para que estén preparados para almacearlos en una BBDD.

En este momento tenemos dos fuentes de datos:


1. El csv con los ataques de tiburones que hemos estado limpiando hasta ahora, el que os hemos adjuntado (attacks_limpieza_completa). Sentiros libres de usar vuestros propios csv en caso de que queráis.
2. El csv con los datos climáticos de los principales paises que tienen ataques de tiburones, el que creamos en el pair programming de ayer.


El objetivo de la sesión de hoy será juntar en un único csv la información de ambas fuentes.

Para ello:
- Cargaremos los dos ficheros de datos
- Del dataframe de los ataques nos quedaremos solo con las filas de los países que seleccionamos en la lección de ayer:

USA

Australia

New Zealand

South Africa

Papua New Guinea

Del dataframe de los datos climáticos seleccionaremos todas las columnas.

Cuando ya tengamos todos los datos deseados juntaremos los dos csv.

Para hacer esta unión tendremos que hacer un groupby en la tabla de clima para sacar una media de las medidas climáticas por país.

Antes de hacer el groupby si nos fijamos tenemos dos columnas rh_profile y wind_profile cuya información es una lista de diccionarios. Si intentamos hacer la media de eso no nos dará un valor real. A este problema ya nos enfrentamos en la clase invertida de ETL-2, donde teníais un Bonus para desempaquetar esta información. En caso de que en aquel ejercicio no lo consigierais os dejamos por aquí una posible solución que nos permite separar esa información en distintas columnas. Os dejamos el código documentado. ⚠️ Os recomendamos que vayáis desgranando el código y viendo lo que nos devuelve cada línea de código para entenderlo mejor.

In [97]:
df_attacks2 = df_attacks[df_attacks['country'].isin (['usa','australia', 'papua new guinea','new zealand','south africa'])]
df_attacks2.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860

In [98]:
clima.head(2)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,pais
0,3,8,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': -9999}, {'layer': '9...","[{'layer': '950mb', 'direction': -9999, 'speed...",4,15,10,1015,none,0,0,235,2,USA
1,6,6,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': -9999}, {'layer': '9...","[{'layer': '950mb', 'direction': -9999, 'speed...",4,15,8,1014,none,0,0,180,3,USA

In [99]:
import ast

In [100]:
clima['wind_profile']= clima['wind_profile'].apply(ast.literal_eval)

In [101]:
x = clima['wind_profile'].apply(pd.Series)
x.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,"{'layer': '950mb', 'direction': -9999, 'speed'...","{'layer': '900mb', 'direction': 305, 'speed': 3}","{'layer': '850mb', 'direction': 295, 'speed': 3}","{'layer': '800mb', 'direction': 275, 'speed': 5}","{'layer': '750mb', 'direction': 285, 'speed': 5}","{'layer': '700mb', 'direction': 300, 'speed': 6}","{'layer': '650mb', 'direction': 285, 'speed': 6}","{'layer': '600mb', 'direction': 275, 'speed': 5}","{'layer': '550mb', 'direction': 285, 'speed': 6}","{'layer': '500mb', 'direction': 295, 'speed': 7}","{'layer': '450mb', 'direction': 295, 'speed': 7}","{'layer': '400mb', 'direction': 305, 'speed': 6}","{'layer': '350mb', 'direction': 320, 'speed': 9}","{'layer': '300mb', 'direction': 315, 'speed': 10}","{'layer': '250mb', 'direction': 315, 'speed': 12}","{'layer': '200mb', 'direction': 315, 'speed': 7}"
1,"{'layer': '950mb', 'direction': -9999, 'speed'...","{'layer': '900mb', 'direction': 195, 'speed': 3}","{'layer': '850mb', 'direction': 205, 'speed': 4}","{'layer': '800mb', 'direction': 220, 'speed': 4}","{'layer': '750mb', 'direction': 235, 'speed': 4}","{'layer': '700mb', 'direction': 250, 'speed': 5}","{'layer': '650mb', 'direction': 260, 'speed': 5}","{'layer': '600mb', 'direction': 300, 'speed': 6}","{'layer': '550mb', 'direction': 295, 'speed': 6}","{'layer': '500mb', 'direction': 285, 'speed': 6}","{'layer': '450mb', 'direction': 290, 'speed': 6}","{'layer': '400mb', 'direction': 295, 'speed': 6}","{'layer': '350mb', 'direction': 300, 'speed': 7}","{'layer': '300mb', 'direction': 300, 'speed': 9}","{'layer': '250mb', 'direction': 310, 'speed': 10}","{'layer': '200mb', 'direction': 315, 'speed': 7}"

In [102]:
clima['rh_profile']= clima['rh_profile'].apply(ast.literal_eval)

In [103]:
y = clima['rh_profile'].apply(pd.Series) 
y.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,"{'layer': '950mb', 'rh': -9999}","{'layer': '900mb', 'rh': 3}","{'layer': '850mb', 'rh': 2}","{'layer': '800mb', 'rh': 2}","{'layer': '750mb', 'rh': 3}","{'layer': '700mb', 'rh': 5}","{'layer': '650mb', 'rh': 4}","{'layer': '600mb', 'rh': 2}","{'layer': '550mb', 'rh': 11}","{'layer': '500mb', 'rh': 14}","{'layer': '450mb', 'rh': 9}","{'layer': '400mb', 'rh': 6}","{'layer': '350mb', 'rh': 8}","{'layer': '300mb', 'rh': 13}","{'layer': '250mb', 'rh': 11}","{'layer': '200mb', 'rh': 3}"
1,"{'layer': '950mb', 'rh': -9999}","{'layer': '900mb', 'rh': 2}","{'layer': '850mb', 'rh': 2}","{'layer': '800mb', 'rh': 2}","{'layer': '750mb', 'rh': 1}","{'layer': '700mb', 'rh': 3}","{'layer': '650mb', 'rh': 4}","{'layer': '600mb', 'rh': 12}","{'layer': '550mb', 'rh': 7}","{'layer': '500mb', 'rh': 3}","{'layer': '450mb', 'rh': 6}","{'layer': '400mb', 'rh': 7}","{'layer': '350mb', 'rh': 10}","{'layer': '300mb', 'rh': 11}","{'layer': '250mb', 'rh': 7}","{'layer': '200mb', 'rh': 7}"

In [104]:
d= x[0].apply(pd.Series)
d.head(2)

   layer  direction  speed
0  950mb      -9999  -9999
1  950mb      -9999  -9999

In [105]:
#este for loop es para el Y
for i in range(len(y.columns)): 

    # aplicamos el apply,extraemos el valore de la key "layer" y lo almacenamos en una variable que convertimos a string 
    nombre = "rh_" + str(y[i].apply(pd.Series)["layer"][0]) 
    #print (nombre)

    #hacemos lo mismo con una variable que se llame valores para "guardar" los valores de la celda
    valores = list(y[i].apply(pd.Series)["rh"] )

    # usamos el método insert de los dataframes para ir añadiendo esta información a el dataframe con la información del clima. 
    clima.insert(i, nombre, valores)

In [106]:
clima.head(2)

,"rh_0 950mb\n0 950mb\n0 950mb\n0 950mb\n0 950mb\nName: layer, dtype: object","rh_0 900mb\n0 900mb\n0 900mb\n0 900mb\n0 900mb\nName: layer, dtype: object","rh_0 850mb\n0 850mb\n0 850mb\n0 850mb\n0 850mb\nName: layer, dtype: object","rh_0 800mb\n0 800mb\n0 800mb\n0 800mb\n0 800mb\nName: layer, dtype: object","rh_0 750mb\n0 750mb\n0 750mb\n0 750mb\n0 750mb\nName: layer, dtype: object","rh_0 700mb\n0 700mb\n0 700mb\n0 700mb\n0 700mb\nName: layer, dtype: object","rh_0 650mb\n0 650mb\n0 650mb\n0 650mb\n0 650mb\nName: layer, dtype: object","rh_0 600mb\n0 600mb\n0 600mb\n0 600mb\n0 600mb\nName: layer, dtype: object","rh_0 550mb\n0 550mb\n0 550mb\n0 550mb\n0 550mb\nName: layer, dtype: object","rh_0 500mb\n0 500mb\n0 500mb\n0 500mb\n0 500mb\nName: layer, dtype: object",...,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,pais
0,-9999,3,2,2,3,5,4,2,11,14,...,4,15,10,1015,none,0,0,235,2,USA
1,-9999,2,2,2,1,3,4,12,7,3,...,4,15,8,1014,none,0,0,180,3,USA

In [ ]:
#este for loop es para el X
for i in range(len(x.columns)): 

    # aplicamos el apply,extraemos el valore de la key "layer" y lo almacenamos en una variable que convertimos a string 
    nombre = "direction_" + str(x[i].apply(pd.Series)["layer"][0]) 

    # hacemos lo mismo con una variable que se llame valores para "guardar" los valores de la celda
    valores = list(x[i].apply(pd.Series)["direction"] )

    # usamos el método insert de los dataframes para ir añadiendo esta información a el dataframe con la información del clima. 
    clima.insert(i, nombre, valores)

In [ ]:
d1=y[0].apply(pd.Series)
d1.head(1)

In [ ]:
clima.head(2)