**Pair Programming ETL I**

Vamos a nutrir los datos de los ataques de los tiburones con informaci√≥n clim√°tica de los paises que tenemos. Para eso vamos a usar la API del clima que hemos aprendido en la clase invertida:

In [6]:
from IPython.core.interactiveshell import InteractiveShell # Nos permite mostar m√°s de una salida por celda
InteractiveShell.ast_node_interactivity = "all" # Nos permite mostar m√°s de una salida por celda

import requests
import pandas as pd
import numpy as np

In [7]:
diccionario={'USA':['-100.445882', '39.7837304'], 'Australia':['134.755', '-24.7761086'], 'South Africa':['24.991639', '-28.8166236'],'New Zealand': ['172.8344077', '-41.5000831'], 'Papua New Guinea': ['144.2489081','-5.6816069' ] }

In [8]:
df1=pd.DataFrame()
for k, v in diccionario.items():
    
    url= f'http://www.7timer.info/bin/api.pl?lon={v[0]}&lat={v[1]}&product=meteo&output=json'
    response= requests.get (url)
    df=pd.DataFrame.from_dict(pd.json_normalize(response.json()['dataseries']))
    df['pais']= k
    df1= pd.concat([df1, df])

In [9]:
df1['pais'].unique()

array(['USA', 'Australia', 'South Africa', 'New Zealand',
       'Papua New Guinea'], dtype=object)

In [10]:
df1.sample(2)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,pais
15,48,9,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': -9999}, {'layer': '9...","[{'layer': '950mb', 'direction': -9999, 'speed...",3,10,11,1013,rain,1,1,30,3,USA
47,144,9,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': -9999}, {'layer': '9...","[{'layer': '950mb', 'direction': -9999, 'speed...",18,-1,10,-9999,rain,5,0,50,2,Papua New Guinea

In [11]:
df1.shape

(320, 17)

In [12]:
df_ETL1=df1.to_csv('df_ETL1.csv')

En este caso os recomendamos que us√©is el producto meteo para obtener la informaci√≥n clim√°tica. Para hacer la llamada a la API necesitamos tambi√©n las coordenadas de los paises que tenemos en el dataset.
Por lo tanto, el objetivo es que saqu√©is la informaci√≥n del clima de la API para los paises que tenemos. Pero antes de poneros manos a la obra, tenemos much√≠simos pa√≠ses y esto puede hacerse eterno. Sacad la informaci√≥n clim√°tica solo para los siguientes pa√≠ses, con las siguientes coordenadas:

Pais: USA
Latitud: 39.7837304
Longitud: -100.445882

Pais: Australia
Latitud: -24.7761086
Longitud: 134.755

Pais: South Africa
Latitud: -28.8166236
Longitud: 24.991639

Pais: New Zealand
Latitud: -41.5000831
Longitud: 172.8344077

Pais: Papua New Guinea
Latitud: -5.6816069
Longitud: 144.2489081

Requisitos de este ejercicio de pair programming:


Deber√©is meter toda la informaci√≥n clim√°tica en un √∫nico dataframe.

Deber√©is hacer la llamada a la API de una sola vez. Es decir, tendr√©is que iterar por la lista de pa√≠ses y sacar la informaci√≥n del clima para cada uno de ellos.

Al meter toda la informaci√≥n en un √∫nico dataframe tendremos que crear una columna que corresponda con el nombre del pa√≠s.

Guardar el dataframe obtenido para usarlo en la siguiente sesi√≥n de pair programming.

üí° Pistas üí°:

Crearos un diccionario donde:

Las keys sean los nombres de los paises.

Los values sean las coordenadas de los paises en formato lista.

Iterar por el diccionario. Dentro del for haremos la llamada a la API como hemos aprendido en las clases invertidas.

Recordamos que para iterar por el diccionario tenemos que seguir la siguiente estructura:
for key, value in diccionario.items():
    print(key, value)

Crearnos un dataframe vac√≠o donde iremos concatenando los datos obtenidos de la API cada pa√≠s.

Guardad el csv ya que ma√±ana lo necesitaremos para hacer el ejercicio de pair programming.